
  #Video{
   height: 640px;
   width: 1451px;
   object-fit:cover;
  }

.welcome{
    background-color: rgb(104, 96, 96);
    opacity : 0.95;
}
.text{
    position: absolute;
    text-align: right;
    margin-left: 27%;
    transform: translateY(-50%, -50%);
    text-align: center;
    color: #ebfff8b5;
    font-weight: 200px;
    font-family: Arial, sans-serif;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
       
    }
    to {
        opacity: 1;
        transform: translateY(-200%);
    }
}
@media screen and (max-width: 1000px) {
    #video
    {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
  