/* /* div#root{
display: flex;
justify-content: center;
align-items: center;
min-height: 50vh;
} 
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 490px;
    height: 50px;
    background: #222;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    /*text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,#194b4f,#33fffc);
    border-radius: 18px;
    transition: 0.5s;
}
nav a:nth-child(1):hover~span{left: 0px;}
nav a:nth-child(2):hover~span{left: 88px;}
nav a:nth-child(3):hover~span{left: 184px;}
nav a:nth-child(4):hover~span{left: 286px;}
nav a:nth-child(5):hover~span{
    left: 391px;
    width: 98px;
    } */
    #img{
      float: left;
      width: 200px;
      height: 60px;
     
    }
    #img:hover{
      opacity: 0.5;
    }
#website{
  float: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
    ul {
      top: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #350354;
        position: sticky;
        top: 0;
        width: 100%;
        /* border: 1px solid white; */
      }
      li {
        float: right;
      }
      /* ul li.right {float: right;} */
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: rgb(217, 207, 207);
        color:#575658 ;
        font-size: 25px;
        font-weight: 790;
        text-decoration: underline;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        border: 1px solid #929293;
        /* animation: ripple 2s linear infinite; */
      }
      /* @keyframes  ripple {
        0% {
            width: 0;
            height: 0;
            opacity: 0.5;
        }
        100%{
            width: 20px;
            height: 14px;
            opacity: 0;
        }
        } */
      /* .active {
        background-color: #04AA6D;
      } */
p{
    margin-top: 50px;
    padding: 20px;
}

/* body:before{
    content:"";
    position: absolute;
    inset: 40% -60% 0 -60%;
    opacity: 0.3;
    pointer-events: none;
}
nav{
    position: relative;
    z-index: 1;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}
nav.before .active-element{
    transform: rotateY(180deg);
} */






